.root {
    padding: 2px 4px 2px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    margin-left: 2px;
    flex: 1;
}


.iconButton {
    padding: 10;

}

.divider {
    height: 28;
    margin: 4
}


.payment-modal {
    padding: 20px;
    min-width: 300px;
    width: 30vw;

    h6 {
        font-weight: 600;
    }

    table {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    // th {}

    .head {
        padding-left: 10px;
    }

    .content {
        padding-left: 15px;
        width: 600px;
    }

    .date {
        max-width: 100px;
    }

    .table-amount {

        text-align: right;
    }

    .totals {
        font-weight: 600;
    }

    .table-client {
        width: 270px;
    }
}


.button-client-search {
    margin: 100px;
    width: 130px;
    height: 40px;
    font-weight: 600;
}


.download-table-xls-button {

    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

.download-table-xls-button:hover {

    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}