
.modal-holder {
    max-width: 900px;
    
}
.edit-form-submit {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}
.form-inputs-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}